%section
  %h1 My stuff on the web
  %ul.block
    %li= link_to "Blog", "http://beilabs.com/posts"
    %li= link_to "Twitter", "http://www.twitter.com/beilabs"
    %li= link_to "GitHub", "http://www.github.com/beilabs"
    %li= link_to "Linked-in", "http://au.linkedin.com/in/jonathanclarkeireland"
    %li= link_to "Last.Fm", "http://www.last.fm/user/jonathan-clarke"
    %li= link_to "Facebook", "http://www.facebook.com/clarke.jonathan"

%section
  %h1
    My musings
    %span
      = link_to "read everything".html_safe, posts_path

  - if Post.latest.size==0
    %p No musings yet.
  - else
    %ul
      - Post.latest.each do |post|
        %li.post
          %span.date
            = nice_date( post.created_at )
          = link_to post.title, post_path(post)

%section
  %h1 Get in touch
  %ul.block
    %li
      %label
        Email:
        %span= link_to "jonathan@beilabs.com", "mailto:jonathan@beilabs.com"

      %label
        Skype:
        %span= link_to "jonathan.givefoo.com", "jonathan.givefoo.com"

%section
  %h1 I have been working for:
  %ul.block
    %li= link_to "Westwick-Farrow (Current)", "http://www.westwick-farrow.com.au"
    %li= link_to "Arvato Finance", "http://www.arvato.ie"
    %li= link_to "Dalian Hi-Think", "http://www.dhc.com.cn"
    %li= link_to "Client Logic (Sitel)", "http://sitel.com"
    %li= link_to "Euro Languages College", "htt://www.eurolanguagescollege.ie"



%section
  %h1 I'm a member of these amazing groups
  %ul.block
    %li= link_to "Ruby Ireland", "http://groups.google.com/group/ruby_ireland"
    %li= link_to "Ruby on Rails Oceania", "http://groups.google.com/group/rails-oceania"
    %li= link_to "Lean Startup Circle", "http://groups.google.com/group/leanstartupcirclesydney"
    %li= link_to "Silicon Beach", "http://groups.google.com/group/silicon-beach-australia"

%section
  %h1 I love to use these tools
  %ul.block
    %li= link_to "HTML5", "http://www.whatwg.org"
    %li= link_to "Ruby", "http://www.ruby.org"
    %li= link_to "Rails", "http://www.rubyonrails.com"
    %li= link_to "Sinatra", "http://www.sinatrarb.com"
    %li= link_to "JQuery", "http://www.jquery.com"
    %li= link_to "RSpec", "http://www.spec.info"
    %li= link_to "Cucumber", "http://www.cukes.info"
    %li= link_to "Sass/Haml", "http://haml-lang.com"
    %li= link_to "GNU Emacs", "http://www.gnu.org/software/emacs/"
    %li= link_to "Ubuntu 10.10", "http://www.ubuntu.com"

%section
  %h1 Where am I?
  %p
    Sydney, Australia
