%ul
  %li= link_to "Blog", "http://www.blog.beilabs.com"
  %li= link_to "Twitter", "http://www.twitter.com/beilabs"
  %li= link_to "GitHub", "http://www.github.com/beilabs"
  %li= link_to "Last.Fm", "http://www.last.fm/user/jonathan-clarke"
  %li= link_to "Facebook", "http://www.facebook.com/clarke.jonathan"

%h2 My Startup
%ul
  %li= link_to "GiveFoo", "http://www.givefoo.com"

%h2 Get in touch
%ul
  %li
    %label Email:
    = link_to "jonathan@beilabs.com", "mailto:jonathan@beilabs.com"
  %li
    %label Google Talk:
    = link_to "jonathan@beilabs.com", "jonathan@beilabs.com"
  %li
    %label Skype:
    = link_to "jonathan.givefoo.com", "jonathan.givefoo.com"
